
  .pic img {
    position: absolute;
    float: right;
    top: -10%;
    right: -135px;
    width: 45px;
    height: 36px;
  }

  .coop-desc{
    font-family: Inknut Antiqua;
    color: rgb(21, 79, 152);
    width: 500px;
    height: 650px;
    margin-left: 40px;
    margin-top: 70px;
  }
  
  .coop-desc p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
  }
  
  .underline{
    border: 1.5px solid #000;
    margin: 0px 0px 40px 0px;
    width: 450px;
  }

  
  .group-desc{
    display: inline-block;
    position: relative;
  }

  .group-desc img{
    width: 1349px;
    height: 780px;
  }
  
  .groupimg{
    display: flex;
    margin: -330px 0px 0px 0px;
    margin-left: 75px;
  }
  
  .groupimg img{
    position: relative;
    width: 500px;
    margin-left: 725px;
    margin-top: -400px;
    height: 350px;
    border: 3px solid #FFF;
  }
  
  .group-desc .contents{
    font-family: Inknut Antiqua;
    font-size: 20px;
    position: absolute;
    margin-left: 40px;
    margin-top: -350px;
    color: white;
  }
  
.underline2{
  border: 1.5px solid #000;
  margin: 0px 0px 40px 0px;
  width: 500px;
}

.group-desc .contents p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 0px 0px;
    margin-top: 240px;
}
