@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home-main {
  margin-top: 124px;
  height: calc(100vh - 124px);
  background-color: #ebebeb;
}
.admin-main {
  margin-left: 150px;
  height: 100vh;
  background-color: #ebebeb;
}
