@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.home-main {
  overflow-y: auto;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #ebebeb;
}
.item-main {
  display: flex;
  overflow-y: auto;
  min-height: 100vh;
  padding-top: 120px;
  background-color: #ebebeb;
}
.admin-main {
  padding-left: 150px;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ebebeb;
}

