*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #3085C3;
  --header-color: #FFFFFF;
}

.admin_main {
  margin-left: 160px;
}
.user_main {
  margin-top: 115px;
}

