.header {
  position: fixed;
  top: 0;
}

.logoContainer {
  background-color: var(--header-color);
  width: 100vw;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 45px;
  background-color: var(--primary-color);
  padding: 0 20px;
}

.navbar div {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}
.navbar input {
  height: 25px;
}
.navbar .link {
  list-style: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
}

.navbar .link:hover {
  background-color: rgb(98, 63, 226);
  transition: ease-in-out 0.5s;
}
