.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  position: relative;
}
.product-cards {
  background-color: rgb(36, 53, 56);
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

.product-info {
  font-size: 20px;
}

img {
  width: 200px;
}

.product-variants {
  width: 100%;
}

.var-buttons {
  font-size: 13px;
  margin: 13px;
  text-transform: uppercase;
  
}

h1 {
  color: white;

}

.product-order {
  margin-top: 20px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.product-order button {
  font-size: 15px;
  background-color: beige;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 30px;
}

.header {
  display: flex;
  background-color: beige;
  justify-content: space-between;
  align-items: center;

}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: azure;
}

.MSG-error {
  font-size: 50px;
  color: black;
  position: absolute;
  top: 50%;

  
}