.main {
  background-color: green;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: red;
  padding: 20px;  
  border-radius: 20px;
  width: 30%;
  height: 70%;

}
.form input {
  width: 200px;
  height: 30px;
}

.form button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}