/* ADMIN PAGE DESIGN */

h2 {
  font-weight: 800;
  color: blue;
}

a {
  text-decoration: none;
  list-style: none;
  font-size: larger;
  font-weight: 800;
  background-color: azure;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
aside {
  background-color: greenyellow;
  width: fit-content;
  padding: 30px;
  height: 100%;

}