.back-home {
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 400px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px
}

button {
  width: 70px;
  font-weight: 700;
  background-color: green;
  color: white
}

input {
  height: 30px
}
label {
  margin-right: 70px
}

.create-form {
  background-color: rgb(120, 199, 120);
}

.update-form {
  background-color: rgb(219, 99, 99);
}